.popup-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6);
  overscroll-behavior-y: contain;
  overflow-y: scroll;
}
.popup-box {
  padding: 30px 50px;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background: #fff;
  text-align: center;
  margin: 50px auto;
}
.close-btn {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
  transition: 0.3s;
}
.close-btn:hover {
  opacity: 1;
}
.close-btn:before,
.close-btn:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close-btn:before {
  transform: rotate(45deg);
}
.close-btn:after {
  transform: rotate(-45deg);
}

.popvote-box {
  padding: 30px 50px;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background: #fff;
  text-align: center;
  margin: 50px auto;
}
.popvote-box > * {
  margin-bottom: 15px;
}

.step1title {
  width: 100%;
  padding: 0 100px;
}
.step2title{
  width: 100%;
  padding: 0;
}

.popvote-box > h4 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #231815;
}

.popvote-box > input {
  width: 100%;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.2em;
}

.popvote-box > p {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #68737a;
}

.popvote-box > p > span {
  font-size: 14px;
  color: #ff3445;
}

.popvote-box {
  display: block;
  width: 100%;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #68737a;
}

.popup-box,.step1 {
  /* max-width: 800px; */
  max-width: 660px;
}
.step2 {
  max-width: 500px;
}

.step2 > .group-btn {
  width: 80%;
}

/* desktops */
@media (max-width: 1200px) {
  .popup-box,
  .step1 {
    width: 78%;
  }
}

@media (max-width: 992px) {
  .popup-box {
    width: 90%;
  }
}

/* tablets */
@media (max-width: 768px) {
  .step1 {
    width: 90%;
  }
  .step2 {
    width: 80%;
  }

  .step1title {
    width: 100%;
    padding: 0 50px;
  }

  .popvote-box > p {
    font-size: 16px;
    line-height: 20px;
  }
}

/* phones */
@media (max-width: 576px) {
  .step1{
    border-radius: 20px;
  }
  .step2 {
    width: 90%;
  }

  .popup-box {
    padding: 30px 33px;
  }

  .step1title {
    width: 100%;
    padding: 0px;
    margin: 0 auto 15px;
  }

  .popvote-box > h4 {
    /* font-size: 20px;
    line-height: 28px; */
    font-size: 18px;
    line-height: 1.5;
  }

  .popvote-box > p {
    /* font-size: 16px;
    line-height: 20px; */
    font-size: 14px;
    line-height: 20px;
  }
  .popvote-box > input{
    font-size: 16px;
    line-height: 1.5;
  }
}